root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160

# 4 space indentation
[*.{js,jsx,ts,tsx,py,sass,scss,css,json}]
charset = utf-8
indent_style = space
indent_size = 4

# 2 space indentation
[*.{yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Matches the exact files either package.json or .travis.yml
[{package.json,yarn.lock}]
indent_style = space
indent_size = 2
