include LICENSE
include README.md
recursive-include wagtailcloudinary/static *
recursive-include wagtailcloudinary/templates *
recursive-include wagtailcloudinary/templatetags *
recursive-exclude sandbox/* *
