[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "wagtailcloudinary"
version = "2.0.0"
description = "Cloudinary support for Wagtail CMS"
authors = [ "thelabnyc <thelabdev@thelabnyc.com>",]
readme = "README.md"
homepage = "https://gitlab.com/thelabnyc/wagtailcloudinary"
repository = "https://gitlab.com/thelabnyc/wagtailcloudinary"
license = "ISC"

[[tool.poetry.packages]]
include = "wagtailcloudinary"
from = "src"

[tool.poetry.dependencies]
python = "^3.10"
cloudinary = "~1"
python-dateutil = ">=2.7"
wagtail = ">=5.2,<6.0"

[tool.poetry.group.dev.dependencies]
flake8 = ">=3.3.0"
tox = ">=2.7.0"
ipdb = "*"
