[build-system]
requires = [ "poetry-core>=2.1.1",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "wagtailcloudinary"
version = "2.2.2"
description = "Cloudinary support for Wagtail CMS"
authors = ["thelab <thelabdev@thelab.co>"]
readme = "README.md"
homepage = "https://gitlab.com/thelabnyc/wagtailcloudinary"
repository = "https://gitlab.com/thelabnyc/wagtailcloudinary"
license = "ISC"

[[tool.poetry.packages]]
include = "wagtailcloudinary"
from = "src"

[tool.poetry.dependencies]
python = "^3.10"
cloudinary = "~1.42.2"
python-dateutil = ">=2.9.0.post0"
wagtail = ">=5.2.6,<6.4"

[tool.poetry.group.dev.dependencies]
flake8 = ">=7.1.2"
tox = ">=4.24.2"
ipdb = "*"

[tool.commitizen]
name = "cz_conventional_commits"
annotated_tag = true
gpg_sign = true
tag_format = "v$version"
update_changelog_on_bump = true
changelog_merge_prerelease = true
version_provider = "poetry"
version_scheme = "pep440"
version_files = [
    "pyproject.toml:version",
]
pre_bump_hooks = [
    "pre-commit run --all-files || true",
]
post_bump_hooks = [
    "git push origin master $CZ_POST_CURRENT_TAG_VERSION"
]
